# Database
# Transaction pooler - runtime queries
DATABASE_URL=

# Session pooler - migrations
DIRECT_URL=

# Supabase
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
PUBLIC_SUPABASE_ANON_KEY=

#languages api
METAD_API_KEY=
